.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-text {
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
}

.marquee-text:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
